form {
    border-style: double;
    border-width: 5px;
    border-color: aqua;
    border-radius: 10px;
    padding: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 200px;
    margin-bottom: 200px;
    padding-top: 50px;
    
}

body{
    background-image: url("./background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




